<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="servicio_lab6Soap">
                    <security mode="Transport" />
                </binding>
                <binding name="servicio_lab6Soap1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://localhost:44351/servicio_lab6.asmx"
                binding="basicHttpBinding" bindingConfiguration="servicio_lab6Soap"
                contract="SR.servicio_lab6Soap" name="servicio_lab6Soap" />
        </client>
    </system.serviceModel>
</configuration>